<!--이미지에 의미가 있는경우 img태그, 없는 경우 css의 background처리 했습니다. -->
<!-- sr리더기 접근성은 aria-label로만 관리하고 img태그의 alt는 비워놓습니다! -->
<!-- 공통 스타일 클래스인 btn-round btn-squre는 스타일 수정하시면 안됩니다! 컴포넌트 내에서의 위치 지정 등 추가적인 스타일이 있는 경우 별도의 클래스를 이용해주세요.-->

<!-- 확인버튼. 공통클래스 -->
<button class="btn-ok" type="button">확인</button>

<!-- 네모버튼. 버튼태그 내부에 [학습하기 계속하기 연주하기]등을 입력  -->
<!-- 네모 버튼의 배경은 아무런 의미가 없기 때문에 css에서 백그라운드로 처리합니다-->
<!-- css의 .btn-squre의 src를 변경하면 버튼의 색상이 변경됩니다. 기본 그린.-->
<!-- 버튼 내부의 텍스트 자체가 모든 의미를 담고있기 때문에 aria-label도 사용하지 않습니다-->
<a class="btn-square" href="#"></a>
<button class="btn-square" ></button>

<!-- 이하 동그란 버튼 -->

<!-- 이하 두가지 이상 기능에 연결되는 동그란 버튼들  -->

<button
  class="btn-prev btn-round"
  type="button"
  aria-label="[작업자가 컴포넌트에 적합한 이름을 입력]"
>
  <img
    src="/assets/images/prev_btn.svg"
    alt=""
    width="40"
    height="43"
  />
</button>

<button
  class="btn-next btn-round"
  type="button"
  aria-label="[작업자가 컴포넌트에 적합한 이름을 입력]"
>
  <img
    src="/assets/images/next_btn.svg"
    alt=""
    width="40"
    height="43"
  />
</button>

<!-- 이하 한가지 기능에만 연결되는 동그란 버튼들 aria-label, [컴포넌트 내에서의 기능]하드코딩  -->
<!-- 클래스 구조 class="[컴포넌트 내에서의 기능] [btn-round(동그란 버튼 공통스타일)]"-->
<!-- 실사용 시 클래스 예시 class="modal__btn-close btn-round  js-clear-modal-btnClose"-->

<button
  class="modal-base__btn-close btn-round js-modal-base-btnClose"
  type="button"
  aria-label="닫기"
>
  <img
    src="/assets/images/close_btn.svg"
    alt=""
    width="40"
    height="43"
  />
</button>
<button class="modal__btn-redo btn-round" type="button" aria-label="새로고침">
  <img
    src="/assets/images/redo_btn.svg"
    alt=""
    width="40"
    height="43"
  />
</button>
<button class="btn-settings btn-round" type="button" aria-label="설정">
  <img
    src="/assets/images/settings_btn.svg"
    alt=""
    width="40"
    height="43"
  />
</button>
<button class="btn-menu btn-round" type="button" aria-label="메뉴">
  <img
    src="/assets/images/menu_btn.svg"
    alt=""
    width="40"
    height="43"
  />
</button>
<button class="btn-help btn-round" type="button" aria-label="도움말">
  <img
    src="/assets/images/help_btn.svg"
    alt=""
    width="40"
    height="43"
  />
</button>
<a class="btn-home btn-round" href="#">
  <img
    src="/assets/images/home_btn.svg"
    alt="게임 홈으로"
    width="40"
    height="43"
  />
</a>
<button
  class="step-page-clear-modal__btn-confirm-clear btn-round js-step-page-clear-modal-btnConfirmClear"
  type="button"
  aria-label="다음 레벨"
>
  <img
    src="/assets/images/back_btn.svg"
    alt=""
    width="40"
    height="43"
  />
</button>
<button
  class="step-page-failed-modal__btn-confirm-failed btn-round js-step-page-failed-modal-btnConfirmFailed"
  type="button"
  aria-label="다음 레벨로 갈 수 없습니다"
>
  <img
    src="/assets/images/back_btn-disabled.svg"
    alt=""
    width="40"
    height="43"
  />
</button>
<button
  class="btn-toggle"
  type="button"
  aria-label="말해주기 기능, 건반색깔 기능, 계이름 표시 기능 토글 중 택일"
>
  <svg
    class="toggle-on"
    aria-hidden="true"
    focusable="false"
    width="72"
    height="42"
    viewBox="0 0 72 42"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g filter="url(#filter0_d_203_690)">
      <rect width="72" height="39" rx="19.5" fill="#FFDB0A" />
      <rect
        x="1.5"
        y="1.5"
        width="69"
        height="36"
        rx="18"
        stroke="white"
        stroke-width="3"
      />
    </g>
    <path
      d="M52.5 5.5C60.2761 5.5 66.5 11.7239 66.5 19.5C66.5 27.2761 60.2761 33.5 52.5 33.5C44.7239 33.5 38.5 27.2761 38.5 19.5C38.5 11.7239 44.7239 5.5 52.5 5.5Z"
      fill="white"
      stroke="#FFB213"
    />
    <defs>
      <filter
        id="filter0_d_203_690"
        x="0"
        y="0"
        width="72"
        height="42"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset dy="3" />
        <feComposite in2="hardAlpha" operator="out" />
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 1 0 0 0 0 0.698039 0 0 0 0 0.0745098 0 0 0 1 0"
        />
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_203_690"
        />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_dropShadow_203_690"
          result="shape"
        />
      </filter>
    </defs>
  </svg>
  <svg
    class="toggle-off"
    aria-hidden="true"
    focusable="false"
    width="72"
    height="42"
    viewBox="0 0 72 42"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g filter="url(#filter0_d_203_693)">
      <rect width="72" height="39" rx="19.5" fill="#B3B3B3" />
      <rect
        x="1.5"
        y="1.5"
        width="69"
        height="36"
        rx="18"
        stroke="white"
        stroke-width="3"
      />
    </g>
    <path
      d="M19.5 5.5C27.2761 5.5 33.5 11.7239 33.5 19.5C33.5 27.2761 27.2761 33.5 19.5 33.5C11.7239 33.5 5.5 27.2761 5.5 19.5C5.5 11.7239 11.7239 5.5 19.5 5.5Z"
      fill="white"
      stroke="#808080"
    />
    <defs>
      <filter
        id="filter0_d_203_693"
        x="0"
        y="0"
        width="72"
        height="42"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset dy="3" />
        <feComposite in2="hardAlpha" operator="out" />
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0.501961 0 0 0 0 0.501961 0 0 0 0 0.501961 0 0 0 1 0"
        />
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_203_693"
        />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_dropShadow_203_693"
          result="shape"
        />
      </filter>
    </defs>
  </svg>
</button>
<!--볼륨 슬라이더 -->
<div class="btn-volume-slider-wrapper js-volume-slider-wrapper">
      <svg
        class="btn-volume-slider__volume-icon js-btn-volume-slider-volumeIcon"
        aria-hidden="true"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M21 17V12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12V17"
          stroke="#FFB213"
          stroke-width="1.5"
        />
        <path
          d="M22 15.5V17.5"
          stroke="#FFB213"
          stroke-width="1.5"
          stroke-linecap="round"
        />
        <path
          d="M2 15.5V17.5"
          stroke="#FFB213"
          stroke-width="1.5"
          stroke-linecap="round"
        />
        <path
          d="M8 13.8446C8 13.0802 8 12.698 7.82526 12.4323C7.73733 12.2985 7.62061 12.188 7.4844 12.1095C7.21371 11.9535 6.84812 11.9896 6.11694 12.0617C4.88487 12.1831 4.26884 12.2439 3.82737 12.5764C3.60394 12.7448 3.41638 12.9593 3.27646 13.2067C3 13.6955 3 14.3395 3 15.6276V17.1933C3 18.4685 3 19.1061 3.28198 19.5986C3.38752 19.7829 3.51981 19.9491 3.67416 20.0913C4.08652 20.4714 4.68844 20.5901 5.89227 20.8275C6.73944 20.9945 7.16302 21.078 7.47564 20.9021C7.591 20.8372 7.69296 20.7493 7.77572 20.6434C8 20.3565 8 19.9078 8 19.0104V13.8446Z"
          stroke="#FFB213"
          stroke-width="1.5"
        />
        <path
          d="M16 13.8446C16 13.0802 16 12.698 16.1747 12.4323C16.2627 12.2985 16.3794 12.188 16.5156 12.1095C16.7863 11.9535 17.1519 11.9896 17.8831 12.0617C19.1151 12.1831 19.7312 12.2439 20.1726 12.5764C20.3961 12.7448 20.5836 12.9593 20.7235 13.2067C21 13.6955 21 14.3395 21 15.6276V17.1933C21 18.4685 21 19.1061 20.718 19.5986C20.6125 19.7829 20.4802 19.9491 20.3258 20.0913C19.9135 20.4714 19.3116 20.5901 18.1077 20.8275C17.2606 20.9945 16.837 21.078 16.5244 20.9021C16.409 20.8372 16.307 20.7493 16.2243 20.6434C16 20.3565 16 19.9078 16 19.0104V13.8446Z"
          stroke="#FFB213"
          stroke-width="1.5"
        />
      </svg>
      <div
        class="btn-volume-slider__volume-slider-bar js-btn-volume-slider-volumeSliderBar"
        tabindex="0"
      >
        <input
          class="btn-volume-slider js-btn-volume-slider"
          type="range"
          id="volume-slider"
          tabindex="-1"
        />
        <svg
          class="btn-volume-slider__volume-slider-design"
          aria-hidden="true"
          width="128"
          height="27"
          viewBox="0 0 128 27"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g filter="url(#filter0_d_235_307)">
            <rect x="2" y="2" width="124" height="20" rx="10" fill="#FFB213" />
            <rect
              x="1"
              y="1"
              width="126"
              height="22"
              rx="11"
              stroke="white"
              stroke-width="2"
            />
          </g>
          <defs>
            <filter
              id="filter0_d_235_307"
              x="0"
              y="0"
              width="128"
              height="27"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha"
              />
              <feOffset dy="3" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"
              />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow_235_307"
              />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow_235_307"
                result="shape"
              />
            </filter>
          </defs>
        </svg>
        <div
          class="btn-volume-slider__volume-slider-fill js-btn-volume-slider-volumeSliderFill"
        ></div>
        <label class="sr-only" for="volume-slider">볼륨 조절 슬라이더</label>
      </div>
    </div>
</div>
