    <dialog class="step-page__failed-modal js-step-page-failedModal">
      <div class="step-page-failed-modal__header-wrapper">
        <div class="step-page-failed-modal__header-image"></div>
        <h2 class="step-page-failed-modal__header">축하합니다!</h2>
      </div>
      <p class="step-page-failed-modal__level-complete-announce"></pclass>레벨을 완료했습니다!</p>
      <div class="step-page-failed-modal__buttons-wrapper">
        <a class="step-page-failed-modal__btn-home btn-round" href="#">
          <img
            src="/assets/images/home_btn.svg"
            alt="게임 홈으로"
            width="40"
            height="43"
          />
        </a>
        <button
          class="step-page-failed-modal__btn-redo btn-round"
          type="button"
          aria-label="새로고침"
        >
          <img
            src="/assets/images/redo_btn.svg"
            alt=""
            width="40"
            height="43"
          />
        </button>
        <button
          class="step-page-failed-modal__btn-confirm-clear btn-round js-step-page-failed-modal-btnConfirmClear"
          type="button"
          aria-label="다음 레벨"
        >
          <img
            src="/assets/images/back_btn.svg"
            alt=""
            width="40"
            height="43"
          />
        </button>
      </div>
    </dialog>