/* 버튼 공용스타일 */

button {
  background: transparent;
  border: 0;
  padding: 0;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"],
a {
  cursor: pointer;
}

.btn-square {
  background: url("../../../../public/assets/images/green_btn.svg") no-repeat;
  inline-size: 8rem;
  block-size: 2.625rem;
  color: var(--white);
  padding: 0 0 var(--space-1) 0;
  justify-self: center;
  margin-block-start: var(--space-1);
  font-size: var(--font-size-18);
  font-weight: var(--weight-800);
  display: block;
  align-content: center;
  text-align: center;
  line-height: 0.4;

  &.continue-restart-modal__btn-continue {
    background: url("../../../../public/assets/images/green_btn.svg") no-repeat;
  }
  &.continue-restart-modal__btn-restart {
    background: url("../../../../public/assets/images/pink_btn.svg") no-repeat;
  }
  &.mode-select-modal__btn-mode-select {
    background: url("../../../../public/assets/images/purple_btn.svg") no-repeat;
  }
  &.volume-controller-hotkeys-modal__btn-hotkeys {
    background: url("../../../../public/assets/images/sky_btn.svg") no-repeat;
  }
}

.btn-round {
  border-radius: var(--radius-round);
  img {
    border-radius: var(--radius-round);
  }
}

.btn-ok {
  background: url("../../../../public/assets/images/ok_btn.svg") no-repeat;
  inline-size: 5.625rem;
  block-size: 2.625rem;
  padding: 0 0 var(--space-1) 0;
  margin-block-start: var(--space-1);
  color: var(--white);
  font-size: var(--font-size-18);
  font-weight: var(--weight-800);
}

.modal-base__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.btn-toggle .toggle-on {
  display: none;
}
.btn-toggle[aria-pressed="true"] .toggle-on {
  display: block;
}
.btn-toggle[aria-pressed="true"] .toggle-off {
  display: none;
}

/* 볼륨슬라이더 버튼 영역 */
/* 여기서는 일부 배경 SVG 이미지와의 정밀한 위치(좌표) 조정을 위해 rem 대신 px 단위를 사용함. */
.btn-volume-slider-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  align-items: center;
  width: 7.75rem;
}

.btn-volume-slider__volume-slider-bar {
  position: relative;
  width: 128px;
  height: 27px;
  z-index: 2;
}

.btn-volume-slider__volume-slider-design {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* 볼륨슬라이더 : 기존 인풋태크 스타일 제거 코드 */
.btn-volume-slider {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  height: 0%;
  width: 0%;
  z-index: 1;
}

.btn-volume-slider::-webkit-slider-runnable-track {
  background: transparent;
  border: none;
}

.btn-volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

.btn-volume-slider::-moz-range-track {
  background: transparent;
  border: none;
}

.btn-volume-slider::-moz-range-thumb {
  width: 0;
  height: 0;
  border: 0;
}

.btn-volume-slider__volume-slider-bar:focus {
  outline: 2px solid #007bff;
  outline-offset: 2px;
  border-radius: var(--radius-8);
}

/* 볼륨이 0인경우 볼륨아이콘을 회색으로 변경*/

.is-muted .btn-volume-slider__volume-icon path {
  stroke: #b3b3b3;
}

/* 볼륨 값에 따라 채워질 영역 스타일 색상조절 가능 */
.btn-volume-slider__volume-slider-fill {
  position: absolute;
  top: 2.2px;
  left: 2.7px;
  max-width: 122.3px;
  width: 100%;
  background-color: #ffdb0a;
  border-radius: var(--radius-8);
  z-index: 2;
  pointer-events: none;
  width: 0%;
  height: 73%;
}
