<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles/main.css" />
    <link rel="stylesheet" href="./pdf-music-sheet-select-button.css" />
    <title>악보 선택 버튼 컴포넌트</title>
  </head>
  <body>
    <h1>악보 선택 버튼 컴포넌트</h1>
    <div class="music-sheet">
      <!-- 파일 형식에 따라 iframe 또는 img 요소 추가 -->
      <!-- 추가되는 요소의 클래스는 "music-sheet__container" -->
      <button class="music-sheet__select-button" type="button">
        악보 선택
      </button>
    </div>
  </body>
</html>
