<dialog class="mode-select-modal">
  <div class="mode-select-modal__wrapper">
    <h2 class="mode-select-modal__title">모드 선택</h2>
    <form class="mode-select-modal__form">
      <input type="radio" name="mode" id="seeMode" value="see" /><label
        for="seeMode"
        >보면서 배우기</label
      >
      <input type="radio" name="mode" id="listenMode" value="listen" /><label
        for="listenMode"
        >들으면서 배우기</label
      >
      <input
        type="radio"
        name="mode"
        id="togetherMode"
        value="together"
      /><label for="togetherMode">함께 배우기</label>
      <button class="mode-select-modal__button" type="submit">확인</button>
    </form>
    <button
      class="mode-select-modal__button-close"
      type="button"
      aria-label="닫기"
    >
      <img
        src="../../../../public/assets/images/close_btn.svg"
        alt=""
        width="40"
        height="43"
      />
    </button>
  </div>
</dialog>
