:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  --gray-50: hsl(0, 0%, 95%);
  --gray-100: hsl(0, 0%, 90%);
  --gray-200: hsl(0, 0%, 80%);
  --gray-300: hsl(0, 0%, 70%);
  --gray-400: hsl(0, 0%, 60%);
  --gray-500: hsl(0, 0%, 50%);
  --gray-600: hsl(0, 0%, 40%);
  --gray-700: hsl(0, 0%, 30%);
  --gray-800: hsl(0, 0%, 20%);
  --gray-900: hsl(0, 0%, 10%);
  --gray-950: hsl(0, 0%, 5%);

  --blue-gray-50: #f0f4f8;
  --blue-gray-100: #d9e2ec;
  --blue-gray-200: #bcccdc;
  --blue-gray-300: #9fb3c8;
  --blue-gray-400: #829ab1;
  --blue-gray-500: #627d98;
  --blue-gray-600: #486581;
  --blue-gray-700: #334e68;
  --blue-gray-800: #243b53;
  --blue-gray-900: #102a43;
  --blue-gray-950: #081521;

  --stone-50: hsl(10, 1%, 95%);
  --stone-100: hsl(10, 1%, 90%);
  --stone-200: hsl(10, 1%, 80%);
  --stone-300: hsl(10, 1%, 70%);
  --stone-400: hsl(10, 1%, 60%);
  --stone-500: hsl(10, 1%, 50%);
  --stone-600: hsl(10, 1%, 40%);
  --stone-700: hsl(10, 1%, 30%);
  --stone-800: hsl(10, 1%, 20%);
  --stone-900: hsl(10, 1%, 10%);
  --stone-950: hsl(10, 1%, 5%);

  --nature-50: hsl(120, 1%, 95%);
  --nature-100: hsl(120, 1%, 90%);
  --nature-200: hsl(120, 1%, 80%);
  --nature-300: hsl(120, 1%, 70%);
  --nature-400: hsl(120, 1%, 60%);
  --nature-500: hsl(120, 1%, 50%);
  --nature-600: hsl(120, 1%, 40%);
  --nature-700: hsl(120, 1%, 30%);
  --nature-800: hsl(120, 1%, 20%);
  --nature-900: hsl(120, 1%, 10%);
  --nature-950: hsl(120, 1%, 5%);

  --red-50: hsl(0, 45%, 95%);
  --red-100: hsl(0, 45%, 90%);
  --red-200: hsl(0, 45%, 80%);
  --red-300: hsl(0, 45%, 70%);
  --red-400: hsl(0, 45%, 60%);
  --red-500: hsl(0, 45%, 50%);
  --red-600: hsl(0, 45%, 40%);
  --red-700: hsl(0, 45%, 30%);
  --red-800: hsl(0, 45%, 20%);
  --red-900: hsl(0, 45%, 10%);
  --red-950: hsl(0, 45%, 5%);

  --orange-50: hsl(20, 44%, 95%);
  --orange-100: hsl(20, 45%, 90%);
  --orange-200: hsl(20, 45%, 80%);
  --orange-300: hsl(20, 45%, 70%);
  --orange-400: hsl(20, 45%, 60%);
  --orange-500: hsl(20, 45%, 50%);
  --orange-600: hsl(20, 45%, 40%);
  --orange-700: hsl(20, 45%, 30%);
  --orange-800: hsl(20, 45%, 20%);
  --orange-900: hsl(20, 45%, 10%);
  --orange-950: hsl(20, 45%, 5%);

  --yellow-50: hsl(50, 90%, 95%);
  --yellow-100: hsl(50, 90%, 90%);
  --yellow-200: hsl(50, 90%, 80%);
  --yellow-300: hsl(50, 90%, 70%);
  --yellow-400: hsl(50, 90%, 60%);
  --yellow-500: hsl(50, 90%, 50%);
  --yellow-600: hsl(50, 90%, 40%);
  --yellow-700: hsl(50, 90%, 30%);
  --yellow-800: hsl(50, 90%, 20%);
  --yellow-900: hsl(50, 90%, 10%);
  --yellow-950: hsl(50, 90%, 5%);

  --green-50: hsl(150, 90%, 95%);
  --green-100: hsl(150, 90%, 90%);
  --green-200: hsl(150, 90%, 80%);
  --green-300: hsl(150, 90%, 70%);
  --green-400: hsl(150, 90%, 60%);
  --green-500: hsl(150, 90%, 50%);
  --green-600: hsl(150, 90%, 40%);
  --green-700: hsl(150, 90%, 30%);
  --green-800: hsl(150, 90%, 20%);
  --green-900: hsl(150, 90%, 10%);
  --green-950: hsl(150, 90%, 5%);

  --blue-50: hsl(220, 90%, 95%);
  --blue-100: hsl(220, 90%, 90%);
  --blue-200: hsl(220, 90%, 80%);
  --blue-300: hsl(220, 90%, 70%);
  --blue-400: hsl(220, 90%, 60%);
  --blue-500: hsl(220, 90%, 50%);
  --blue-600: hsl(220, 90%, 40%);
  --blue-700: hsl(220, 90%, 30%);
  --blue-800: hsl(220, 90%, 20%);
  --blue-900: hsl(220, 90%, 10%);
  --blue-950: hsl(220, 90%, 5%);

  --purple-50: hsl(260, 30%, 95%);
  --purple-100: hsl(260, 30%, 90%);
  --purple-200: hsl(260, 30%, 80%);
  --purple-300: hsl(260, 30%, 70%);
  --purple-400: hsl(260, 30%, 60%);
  --purple-500: hsl(260, 30%, 50%);
  --purple-600: hsl(260, 30%, 40%);
  --purple-700: hsl(260, 30%, 30%);
  --purple-800: hsl(260, 30%, 20%);
  --purple-900: hsl(260, 30%, 10%);
  --purple-950: hsl(260, 30%, 5%);

  --pink-50: hsl(350, 45%, 95%);
  --pink-100: hsl(350, 45%, 90%);
  --pink-200: hsl(350, 45%, 80%);
  --pink-300: hsl(350, 45%, 70%);
  --pink-400: hsl(350, 45%, 60%);
  --pink-500: hsl(350, 45%, 50%);
  --pink-600: hsl(350, 45%, 40%);
  --pink-700: hsl(350, 45%, 30%);
  --pink-800: hsl(350, 45%, 20%);
  --pink-900: hsl(350, 45%, 10%);
  --pink-950: hsl(350, 45%, 5%);

  /* index 페이지 색상 */
  --main-red: #e60012;
  --bg-gray: #e9e9e9;
  --select-font-color: #215fe5;
  --select-green: #14cb0c;
  --select-gray: #bebebe;

  /* 피아노 건반 색상표 */
  --key-rainbow-c: #f200ff;
  --key-rainbow-csharp: #df1175;
  --key-rainbow-d: #ef0020;
  --key-rainbow-dsharp: #eb4700;
  --key-rainbow-e: #ff8800;
  --key-rainbow-f: #fff400;
  --key-rainbow-fsharp: #abe900;
  --key-rainbow-g: #65dd0a;
  --key-rainbow-gsharp: #04e6b2;
  --key-rainbow-a: #00d0ff;
  --key-rainbow-asharp: #3b52e6;
  --key-rainbow-b: #6625ff;
  --key-active: #006fda;

  /* 단계 완료 창 글씨에 사용하는 색상 */
  --bright-pink-500: #fc8aff;
  --bright-pink-700: #da57f0;
  --bright-pink-900: #b20d78;

  /* 노란색 토글 버튼 색상 */
  --bright-yellow-500: #ffdb0a;
  --bright-yellow-700: #ffb213;

  /* 단계 초록 버튼 */
  --bright-green-500: #65db07;
  --bright-green-700: #47b107;

  /* 단계 하늘색 버튼 */
  --bright-blue-500: #4cdafe;
  --bright-blue-700: #08b9ff;

  /* 보라색들 모음 */
  --purple-100: #c286ff;
  --purple-200: #b26bfb;
  --purple-300: #9c59fe;
  --purple-500: #6f53fd;
  --purple-700: #7203ff;

  /* 칠판 테두리 */
  --brown-500: #bd8100;

  /* 배경 그라데이션 */
  --bg-gradient-start: var(--purple-300);
  --bg-gradient-end: var(--purple-500);

  /* 제목에 들어갈 색깔들 */
  --title-purple-linear-start: #d384fd;
  --title-purple-linear-end: #8567f7;
  --title-yellow-linear-start: #fdf36d;
  --title-yellow-linear-end: #ffbe2d;

  /* font-size, 글자 크기 */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-14: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-sm: 1.125rem; /* 18px */
  --font-size-20: 1.25rem; /* 20px */
  --font-size-22: 1.375rem; /* 22px */
  --font-size-md: 1.5rem; /* 24px */
  --font-size-26: 1.625rem; /* 26px */
  --font-size-28: 1.75rem; /* 28px */
  --font-size-lg: 1.875rem; /* 30px */
  --font-size-32: 2rem; /* 32px */
  --font-size-34: 2.125rem; /* 34px */
  --font-size-xl: 2.25rem; /* 36px */

  /* border-radius, 모서리 둥글기 정도 */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-round: 50%;

  /* 여백 */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;

  /* 반응형 BreakPoint */
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
  --breakpoint-XL: 1200px;

  color-scheme: light dark;
}
