@import "../../../src/styles/main.css";

.keyboard-wrapper {
  background: #413930;
  inline-size: 64rem;
  block-size: 22.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-inline: 1rem;
  padding-block-start: 0.8438rem;
  padding-block-end: 0.775rem;

  /* 한 옥타브 묶음 */
  .keyboard-container {
    inline-size: 32rem;
    display: inherit;
    flex-flow: row nowrap;
    position: relative;

    .white-key,
    .black-key {
      border: none;
      padding: 0;
      margin: 0;
    }

    /* 4옥타브 li의 클래스 */
    .white-key-list {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
    }

    /* 검은 건반 */
    .black-key {
      position: absolute;
      color: var(--white);
    }
  }

  /* 흰 건반 묶음 */
  .white-key-container {
    inline-size: 32rem;
    block-size: 21.5rem;

    .white-key-list > li {
      position: relative;
    }
  }

  /* 흰 건반 버튼 */
  .white-key {
    overflow: visible;

    :focus {
      outline: none; /* 기본 포커스 링 제거 */
      background-color: var(--focus-blue, #80bfff); /* 기본값: 연한 파랑 */
    }
  }

  /* 흰 건반 텍스트(span) */
  .w-key-text,
  .b-key-text {
    visibility: hidden;
  }

  /* 4옥타브 검은 건반 배열 */
  .black-key,
  .octave-4 {
    inset-block-start: 0px;
    :nth-child(1) {
      inset-block-start: 0px;
      inset-inline-start: 67px;
    }

    :nth-child(2) {
      inset-block-start: inherit;
      inset-inline-start: 137px;
    }

    :nth-child(3) {
      inset-block-start: inherit;
      inset-inline-start: 276px;
    }

    :nth-child(4) {
      inset-block-start: inherit;
      inset-inline-start: 347px;
    }

    :nth-child(5) {
      inset-block-start: inherit;
      inset-inline-start: 417px;
    }
  }

  /* 5옥타브 검은 건반 배열 */
  .black-key,
  .octave-5 {
    inset-block-start: 0px;
    :nth-child(1) {
      inset-block-start: inherit;
      inset-inline-start: 45px;
    }

    :nth-child(2) {
      inset-block-start: inherit;
      inset-inline-start: 115px;
    }

    :nth-child(3) {
      inset-block-start: inherit;
      inset-inline-start: 255px;
    }

    :nth-child(4) {
      inset-block-start: inherit;
      inset-inline-start: 325px;
    }

    :nth-child(5) {
      inset-block-start: inherit;
      inset-inline-start: 395px;
    }
  }
}
